/* Mixins --------------- */

/* Responsive  */

@mixin desktop {
	@media (min-width: 961px) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: 960px) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: 640px) {
		@content;
	}
}