/* ---------- VSM Site Engine Stylesheet ---------- */
/* Variables ------------ */
/* Colours */
/* Imports -------------- */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,800&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  font-size: 1em;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

select {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none; }

input,
textarea,
select,
button {
  font: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  padding: 0;
  margin: 0; }

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  max-width: 100%; }

input[type="text"],
input[type="number"],
input[type="date"],
input[type="datetime-local"],
input[type="time"],
input[type="email"],
input[type="password"],
input[type="file"],
textarea {
  width: 100%;
  max-width: 100%; }

input[type="datetime-local"] {
  max-width: 220px; }

input,
textarea,
button {
  border: 1px solid gray; }

textarea {
  max-width: 100%;
  resize: vertical; }

button {
  width: 100%;
  border-radius: 0;
  background-color: transparent; }

img,
svg,
iframe,
video,
object,
embed {
  display: block;
  max-width: 100%; }

table {
  table-layout: fixed;
  width: 100%; }

/* Fonts ---------------- */
/* Mixins --------------- */
/* Responsive  */
/* Extends -------------- */
body {
  font-weight: 300; }

h1, h2, h3, #inspector .status, #tag-repeater input[readonly], .button, #main.index li .details .title,
#main.index li .details .name, #main.index li .details .date, #main.index li .details .status, #main.grid ul li .details .title, #main #tab-control .item, #main .filterBar fieldset label {
  font-weight: 800; }

#main.index li .details .slug a[href$=".pdf" i]::before, #main.index li .details .slug a[href$=".doc" i]::before,
#main.index li .details .slug a[href$=".docx" i]::before, #main.index li .details .slug a[href$=".xls" i]::before,
#main.index li .details .slug a[href$=".xlsx" i]::before, #main.index li .details .slug a[href$=".zip" i]::before {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 18px;
  font-weight: 800;
  font-size: 0.75em;
  line-height: 1;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin-right: 2px; }

/* Global Styling ------- */
body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5; }

a {
  color: inherit;
  text-decoration: none; }

/* Typography ----------- */
h1 {
  font-size: 4em;
  line-height: 1;
  margin-bottom: 0.5em;
  color: #baced3; }

h2 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 0.5em;
  color: #899ca0; }

h3 {
  font-size: 1.1em;
  line-height: 1;
  margin-bottom: 0.5em;
  color: #57686c; }

p {
  margin-bottom: 1em; }

hr {
  outline: none;
  border: none;
  height: 2px;
  margin: 1em 0;
  background: #4c5a5e; }

/* Interface Layout ----- */
#interface-wrapper {
  position: relative;
  height: 100vh;
  width: 100%; }

#menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 180px;
  overflow-y: auto;
  background: white;
  border-right: 1px solid #baced3; }
  #menu .logo {
    padding: 10px 20px; }
  #menu ul {
    border-bottom: 1px solid #baced3; }
    #menu ul li {
      border-top: 1px solid #baced3; }
      #menu ul li a {
        padding: 10px 20px;
        display: block; }
        #menu ul li a:hover {
          background: #e9eff1; }
      #menu ul li.active a {
        background: #d9e4e7; }
        #menu ul li.active a:hover {
          background: #d9e4e7; }

#main {
  position: fixed;
  left: 180px;
  right: 240px;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  background: #e9eff1;
  padding: 20px; }

#inspector {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 240px;
  overflow-y: auto;
  background: #62767a;
  color: #d9e4e7;
  border-left: 1px solid #404d50;
  padding: 20px 10px; }
  #inspector .button {
    display: block;
    padding: 10px;
    margin-bottom: 5px; }
  #inspector .status {
    display: block;
    width: 100%;
    padding: 5px;
    color: #57686c;
    background-color: #d9e4e7;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 5px; }
    #inspector .status.accept {
      background-color: #3ebb87;
      color: white; }
    #inspector .status.pending {
      background-color: #d4ae16; }
    #inspector .status.cancel {
      background-color: #ec6044;
      color: white; }
  #inspector label textarea {
    font-size: 0.75em;
    min-height: 150px; }

/* tag repeater */
#tag-repeater input {
  position: relative; }
#tag-repeater input[readonly] {
  background: transparent;
  border: none;
  color: #404d50;
  padding: 0 5px;
  cursor: pointer;
  background-image: url("../img/icon-remove-tag.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 16px; }
  #tag-repeater input[readonly]:hover {
    background-color: #57686c; }

/* modals and notifications */
#modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(87, 104, 108, 0.5);
  z-index: 1000; }
  #modal .modal-content {
    padding: 40px;
    margin: 20px;
    max-width: 320px;
    background: #d9e4e7;
    -webkit-box-shadow: 0 5px 20px #404d50;
            box-shadow: 0 5px 20px #404d50;
    border: 1px solid #404d50;
    border-radius: 6px;
    font-size: 1.25em;
    text-align: center; }
    #modal .modal-content p {
      line-height: 1;
      margin-bottom: 10px; }
    #modal .modal-content .button {
      padding: 0.5em 1em; }

#notification {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  background: #57686c;
  color: white;
  -webkit-box-shadow: 0 5px 20px #404d50;
          box-shadow: 0 5px 20px #404d50;
  border-bottom: 1px solid #404d50;
  z-index: 1000; }
  #notification .button {
    padding: 0.5em 1em; }

/* UI elements ---------- */
/* Forms */
.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background: #57686c;
  border: 1px solid #404d50;
  border-radius: 3px;
  font-size: 0.8em;
  line-height: 1;
  text-align: center;
  cursor: pointer; }
  .button:hover {
    background: #404d50;
    text-decoration: none; }
  .button.accept {
    background: #3ebb87;
    border: 1px solid #31956b; }
    .button.accept:hover {
      background: #31956b; }
      .button.accept:hover:disabled {
        background: #3ebb87; }
  .button.pending {
    background: #d4ae16;
    border: 1px solid #a68811; }
    .button.pending:hover {
      background: #a68811; }
      .button.pending:hover:disabled {
        background: #d4ae16; }
  .button.cancel {
    background: #ec6044;
    border: 1px solid #e63a17; }
    .button.cancel:hover {
      background: #e63a17; }
      .button.cancel:hover:disabled {
        background: #ec6044; }
  .button .icon {
    fill: white;
    width: 16px;
    height: 16px;
    margin: 0 5px 0 -5px; }

input,
select,
textarea {
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #404d50; }

button {
  margin-bottom: 5px; }

select {
  display: block;
  background-color: #d9e4e7;
  background-image: url("../img/icon-select.png");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: right 6px center;
  width: 100%; }

input[type=file] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #d9e4e7;
  color: #57686c; }

input[type=radio], input[type=checkbox] {
  margin: 0 10px 0.25em 0; }

input:disabled,
select:disabled,
textarea:disabled,
button:disabled {
  opacity: 0.33;
  cursor: not-allowed; }

fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5px; }
  fieldset legend {
    width: 100%;
    padding-bottom: 2px;
    border-bottom: 1px solid #899ca0;
    margin-bottom: 0.25em; }

/* Item Lists */
#main.index .navArea, #main.index div.category {
  margin-bottom: 2em; }
#main.index h2 {
  border-bottom: 3px solid;
  padding-bottom: 0.25em;
  margin-bottom: 0.25em; }
#main.index ul {
  padding: 0;
  margin-bottom: 3px; }
  #main.index ul.sortable::after {
    content: '';
    display: block;
    border-radius: 5px;
    border: 1px dashed #9ab8c0;
    height: 30px;
    margin-top: 4px; }
  #main.index ul.sortable li {
    cursor: -webkit-grab;
    cursor: grab; }
#main.index li {
  margin-bottom: 2px;
  border-radius: 5px;
  padding: 4px;
  background: white;
  border: 1px solid #aac3c9; }
  #main.index li ul li {
    padding-right: 3px;
    margin-right: -4px;
    border-radius: 5px 0px 0px 5px;
    border-right: 1px solid transparent; }
    #main.index li ul li:hover {
      border-right: 1px solid transparent; }
  #main.index li:hover {
    border: 1px solid #8bacb6;
    background: #f8fafb; }
  #main.index li.page > .details {
    padding-left: 20px;
    background-image: url("../img/icon-page.png"); }
  #main.index li.account > .details {
    padding-left: 20px;
    background-image: url("../img/icon-account.png"); }
  #main.index li.folder {
    background: #c0d2d7;
    padding-bottom: 1px; }
    #main.index li.folder:hover {
      background: #baced3; }
    #main.index li.folder > .details {
      margin-bottom: 3px;
      padding-left: 20px;
      background-image: url("../img/icon-folder.png"); }
  #main.index li .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: left center; }
    #main.index li .details span {
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    #main.index li .details .title,
    #main.index li .details .name {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
      -webkit-box-flex: 2;
          -ms-flex-positive: 2;
              flex-grow: 2; }
    #main.index li .details .date {
      font-size: 0.8em;
      text-align: right;
      margin-right: 4px;
      color: #7b9095; }
    #main.index li .details .slug {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; }
      #main.index li .details .slug a[href$=".pdf" i]::before {
        content: 'pdf';
        background-color: red; }
      #main.index li .details .slug a[href$=".doc" i]::before,
      #main.index li .details .slug a[href$=".docx" i]::before {
        content: 'doc';
        background-color: blue; }
      #main.index li .details .slug a[href$=".xls" i]::before,
      #main.index li .details .slug a[href$=".xlsx" i]::before {
        content: 'xls';
        background-color: green; }
      #main.index li .details .slug a[href$=".zip" i]::before {
        content: 'zip';
        background-color: gray; }
    #main.index li .details .actions {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      overflow: initial;
      -ms-flex-preferred-size: auto;
          flex-basis: auto; }
      #main.index li .details .actions .button {
        font-size: 0.66em;
        padding: 4px;
        margin: 1px 0 1px 2px; }
    #main.index li .details .status {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center;
      -webkit-box-flex: 0;
          -ms-flex-positive: 0;
              flex-grow: 0;
      -ms-flex-preferred-size: 80px;
          flex-basis: 80px;
      overflow: initial;
      font-size: 0.66em;
      line-height: 1;
      padding: 4px;
      margin: 1px 4px 1px 0;
      color: #6e8388;
      background: #d9e4e7;
      border-radius: 3px; }
      #main.index li .details .status.accept {
        background: #74d1ab;
        color: #31956b; }
      #main.index li .details .status.pending {
        background: #eccc4a;
        color: #a68811; }
      #main.index li .details .status.cancel {
        background: #f39b89;
        color: #e63a17; }

#main.index.longNames li .details {
  font-size: 0.875em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-position: left top; }
  #main.index.longNames li .details .title,
  #main.index.longNames li .details .name {
    line-height: 1;
    padding: 0.25em 0 0.5em;
    margin-bottom: 0.25em;
    border-bottom: 1px solid #d9e4e7;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-overflow: initial;
    white-space: initial; }

#main.index.submission, #main.index.leads {
  /* deprecating .leads */ }
  #main.index.submission li .details .name, #main.index.leads li .details .name {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%; }

#main.submission section {
  padding: 20px;
  background: white;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #baced3; }
#main.submission .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px; }
  #main.submission .row p span:not(:last-child)::after {
    content: ','; }
  #main.submission .row p span {
    font-weight: bold;
    margin-left: 10px; }
  #main.submission .row p:not(:last-child) {
    margin-right: 30px; }
  #main.submission .row p.textarea {
    font-weight: bold; }

#main.grid ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  #main.grid ul li {
    padding: 5px;
    margin: 2px;
    background: white;
    overflow: hidden;
    border: 1px solid #baced3;
    border-radius: 5px;
    -ms-flex-preferred-size: calc(25% - 4px);
        flex-basis: calc(25% - 4px);
    max-width: calc(25% - 4px); }
    @media (max-width: 960px) {
      #main.grid ul li {
        -ms-flex-preferred-size: calc(50% - 4px);
            flex-basis: calc(50% - 4px);
        max-width: calc(50% - 4px); } }
    #main.grid ul li .details {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      line-height: 1;
      padding: 0; }
      #main.grid ul li .details .thumbnail {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
        height: 20vh;
        border: 1px solid #d9e4e7;
        background-image: linear-gradient(45deg, #d9e4e7 25%, transparent 25%), linear-gradient(-45deg, #d9e4e7 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #d9e4e7 75%), linear-gradient(-45deg, transparent 75%, #d9e4e7 75%);
        background-size: 20px 20px;
        background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
        padding: 10px;
        margin-bottom: 5px; }
        #main.grid ul li .details .thumbnail img {
          max-width: 100%;
          max-height: 100%; }
      #main.grid ul li .details .title {
        display: block; }
      #main.grid ul li .details .filename {
        padding-bottom: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%; }
      #main.grid ul li .details .actions {
        width: 100%;
        text-align: center; }
        #main.grid ul li .details .actions .button {
          font-size: 0.66em;
          padding: 4px;
          margin: 1px 0 1px 2px; }

/* Tabbed Content */
#main #tab-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #aac3c9;
  margin-bottom: 1.5em; }
  #main #tab-control .item {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background: -webkit-gradient(linear, left bottom, left top, from(#d9e4e7), to(#e9eff1));
    background: linear-gradient(to top, #d9e4e7, #e9eff1);
    color: #7b9095;
    padding: 0.75em 2em;
    margin: 0 2px;
    border: 1px solid #aac3c9;
    border-bottom: 0;
    border-radius: 6px 6px 0 0;
    text-align: center;
    line-height: 1;
    cursor: pointer; }
    #main #tab-control .item.active {
      background: -webkit-gradient(linear, left bottom, left top, from(#e9eff1), to(white));
      background: linear-gradient(to top, #e9eff1, white);
      color: #57686c;
      margin-bottom: -1px; }
#main .tab {
  display: none; }
  #main .tab.active {
    display: block; }

/* Filter Bar - for interacting with index content */
#main .filterBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2em;
  padding: 3px;
  background: #62767a;
  color: #d9e4e7;
  border: 1px solid #404d50;
  border-radius: 5px; }
  #main .filterBar input[type="text"] {
    margin: 0;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    padding: 0.5em;
    font-size: 0.75em; }
  #main .filterBar fieldset {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-bottom: 0; }
    #main .filterBar fieldset::after {
      display: block;
      content: '';
      width: 1px;
      background: #404d50;
      margin: 0 8px 0 6px; }
    #main .filterBar fieldset:last-child::after {
      display: none; }
    #main .filterBar fieldset input[type="radio"], #main .filterBar fieldset input[type="checkbox"] {
      display: none; }
    #main .filterBar fieldset label {
      color: white;
      line-height: 1;
      text-align: center;
      text-shadow: 0 1px 2px #404d50;
      font-size: 0.75em;
      display: inline-block;
      background: #57686c;
      border: 1px solid #404d50;
      border-radius: 3px;
      margin-right: 2px;
      padding: 0.75em 0.5em;
      cursor: pointer;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
      #main .filterBar fieldset label:hover {
        background: #404d50; }
    #main .filterBar fieldset input[type="radio"]:checked + label {
      background: #d4ae16;
      text-shadow: 0 1px 2px #a68811;
      cursor: default; }
    #main .filterBar fieldset input[type="checkbox"]:checked + label {
      background: #3ebb87;
      border-color: #31956b;
      text-shadow: 0 1px 2px #31956b; }
      #main .filterBar fieldset input[type="checkbox"]:checked + label:hover {
        background: #31956b; }

/* Page Editor ----------- */
#main.editor .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }
#main.editor label,
#main.editor fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
#main.editor fieldset {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  #main.editor fieldset label {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
#main.editor textarea {
  min-height: 25vh;
  height: 100%; }
#main.editor input,
#main.editor textarea,
#main.editor select {
  border: 1px solid #baced3;
  margin-bottom: 0; }
#main.editor .button {
  padding: 10px; }
#main.editor .scrollable {
  max-height: 33vh;
  background: white;
  border: 1px solid #baced3;
  border-radius: 5px;
  padding: 10px;
  overflow-y: scroll; }
#main.editor .details {
  height: 100%;
  padding: 5px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #baced3;
  border-radius: 5px; }
  #main.editor .details input {
    margin-bottom: 5px; }
  #main.editor .details .thumbnail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    border: 1px solid #d9e4e7;
    background-image: linear-gradient(45deg, #d9e4e7 25%, transparent 25%), linear-gradient(-45deg, #d9e4e7 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #d9e4e7 75%), linear-gradient(-45deg, transparent 75%, #d9e4e7 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    padding: 10px; }
    #main.editor .details .thumbnail img {
      max-width: 100%;
      max-height: 100%; }
#main.editor .file {
  background-image: url("/css/admin/img/icon-post.png");
  background-repeat: no-repeat;
  background-position: center left; }
  #main.editor .file a {
    padding-left: 40px;
    line-height: 30px; }

#main.media-editor .preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: calc(100vh - 140px);
  border: 1px solid #baced3;
  border-radius: 5px;
  background-color: white;
  background-image: linear-gradient(45deg, #d9e4e7 25%, transparent 25%), linear-gradient(-45deg, #d9e4e7 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #d9e4e7 75%), linear-gradient(-45deg, transparent 75%, #d9e4e7 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  padding: 10px;
  margin-bottom: 5px; }
  #main.media-editor .preview img {
    max-width: 100%;
    max-height: 100%; }

/* Login Page ----------- */
#login-wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  #login-wrapper .loginContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    background: #d9e4e7;
    border: 1px solid #9ab8c0;
    border-radius: 6px; }
    #login-wrapper .loginContainer .logo {
      width: 50%;
      margin-bottom: 20px; }
    #login-wrapper .loginContainer label {
      width: 100%;
      margin-bottom: 5px; }
  #login-wrapper .button {
    padding: 10px;
    margin-bottom: 0; }
/*# sourceMappingURL=style.css.map */