/* ---------- VSM Site Engine Stylesheet ---------- */

/* Variables ------------ */

/* Colours */
$swatchBackground: rgb(217,228,231);
$swatchText: rgb(87,104,108);
$swatchAccept: rgb(62,187,135);
$swatchPending: rgb(212,174,22);
$swatchCancel: rgb(236,96,68);


/* Imports -------------- */

@import 'reset';

/* Fonts ---------------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,800&display=swap');
//font-family: 'Open Sans', sans-serif;


/* Mixins --------------- */

/* Responsive  */

@mixin desktop {
	@media (min-width: 961px) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: 960px) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: 640px) {
		@content;
	}
}


/* Extends -------------- */

%fontWeightRegular {
	font-weight: 300;
}

%fontWeightBold {
	font-weight: 800;
}

%slugIcon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 18px;
  font-weight: 800;
  font-size: 0.75em;
  line-height: 1;
  color: white;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  border-radius: 3px;
  margin-right: 2px;
}


/* Global Styling ------- */

body {
	@extend %fontWeightRegular;
	min-height: 100vh;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.5;
}
a {
	color: inherit;
	text-decoration: none;
}


/* Typography ----------- */

h1 {
	@extend %fontWeightBold;
	font-size: 4em;
  line-height: 1;
  margin-bottom: 0.5em;
	color: darken($swatchBackground, 10%);
}

h2 {
	@extend %fontWeightBold;
	font-size: 1.5em;
  line-height: 1;
  margin-bottom: 0.5em;
	color: lighten($swatchText, 20%);
}

h3 {
  @extend %fontWeightBold;
	font-size: 1.1em;
  line-height: 1;
  margin-bottom: 0.5em;
	color: $swatchText;
}

p {
  margin-bottom: 1em;
}

hr {
  outline: none;
  border: none;
  height: 2px;
  margin: 1em 0;
  background: darken($swatchText, 5%);
}
 

/* Interface Layout ----- */

#interface-wrapper {
	position: relative;
  height: 100vh;
	width: 100%;
}

#menu {
  position: fixed;
  top: 0;
  bottom: 0;
	width: 180px;
  overflow-y: auto;
  background: white;
  border-right: 1px solid darken($swatchBackground, 10%);
	.logo {
		padding: 10px 20px;
	}
  ul {
    border-bottom: 1px solid darken($swatchBackground, 10%);
    li {
      border-top: 1px solid darken($swatchBackground, 10%);
      a {
        padding: 10px 20px;
        display: block;
        &:hover {
          background: lighten($swatchBackground, 5%);
        }
      }
      &.active {
        a {
          background: $swatchBackground;
          &:hover {
            background: $swatchBackground;
          }
        }
      }
    }
  }
}

#main {
  position: fixed;
  left: 180px;
  right: 240px;
  top: 0;
	bottom: 0;
  overflow-y: auto;
  background: lighten($swatchBackground, 5%);
  padding: 20px;
}

#inspector {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
	width: 240px;
  overflow-y: auto;
  background: lighten($swatchText, 5%);
  color: $swatchBackground;
  border-left: 1px solid darken($swatchText, 10%);
  padding: 20px 10px;
  .button {
    display: block;
    padding: 10px;
    margin-bottom: 5px;
  }
  .status {
    @extend %fontWeightBold;
    display: block;
    width: 100%;
    padding: 5px;
    color: $swatchText;
    background-color: $swatchBackground;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 5px;
    &.accept {
      background-color: $swatchAccept;
      color: white;
    }
    &.pending {
      background-color: $swatchPending;
    }
    &.cancel {
      background-color: $swatchCancel;
      color: white;
    }
  }
  label {
    textarea {
      font-size: 0.75em;
      min-height: 150px;
    }
  }
}

/* tag repeater */

#tag-repeater {
  input {
    position: relative;
  }
  input[readonly] {
    @extend %fontWeightBold;
    background: transparent;
    border: none;
    color: darken($swatchText, 10%);
    padding: 0 5px;
    cursor: pointer;
    background-image: url('../img/icon-remove-tag.png');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 16px;
    &:hover {
      background-color: $swatchText;
    }
  }
}


/* modals and notifications */

#modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(87,104,108,0.5);
  z-index: 1000;
  .modal-content {
    padding: 40px;
    margin: 20px;
    max-width: 320px;
    background: $swatchBackground;
    box-shadow: 0 5px 20px darken($swatchText, 10%);
    border: 1px solid darken($swatchText, 10%);
    border-radius: 6px;
    font-size: 1.25em;
    text-align: center;
    p {
      line-height: 1;
      margin-bottom: 10px;
    }
    .button {
      padding: 0.5em 1em;
    }
  }
}

#notification {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: $swatchText;
  color: white;
  box-shadow: 0 5px 20px darken($swatchText, 10%);
  border-bottom: 1px solid darken($swatchText, 10%);
  z-index: 1000;
  .button {
    padding: 0.5em 1em;
  }
}


/* UI elements ---------- */

/* Forms */

.button {
	@extend %fontWeightBold;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: white;
	background: $swatchText;
	border: 1px solid darken($swatchText, 10%);
	border-radius: 3px;
	font-size: 0.8em;
	line-height: 1;
	text-align: center;
	cursor: pointer;
	&:hover {
		background: darken($swatchText, 10%);
		text-decoration: none;
	}
	&.accept {
		background: $swatchAccept;
		border: 1px solid darken($swatchAccept, 10%);
		&:hover {
			background: darken($swatchAccept, 10%);
      &:disabled {
        background: $swatchAccept;
      }
		}
	}
	&.pending {
		background: $swatchPending;
		border: 1px solid darken($swatchPending, 10%);
		&:hover {
			background: darken($swatchPending, 10%);
      &:disabled {
        background: $swatchPending;
      }
		}
	}
	&.cancel {
		background: $swatchCancel;
		border: 1px solid darken($swatchCancel, 10%);
		&:hover {
			background: darken($swatchCancel, 10%);
      &:disabled {
        background: $swatchCancel;
      }
		}
	}
	.icon {
		fill: white;
		width: 16px;
		height: 16px;
		margin: 0 5px 0 -5px;
	}
} 
input,
select,
textarea {
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid darken($swatchText, 10%);
}
button {
  margin-bottom: 5px;
}
select {
  display: block;
  background-color: $swatchBackground;
  background-image: url('../img/icon-select.png');
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: right 6px center;
  width: 100%;
}
input[type=file] {
  display: flex;
  background: $swatchBackground;
  color: $swatchText;
} 
input[type=radio], input[type=checkbox] {
  margin: 0 10px 0.25em 0;
}
input:disabled,
select:disabled,
textarea:disabled,
button:disabled {
  opacity: 0.33;
  cursor: not-allowed;
}
fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  legend {
    width: 100%;
    padding-bottom: 2px;
    border-bottom: 1px solid lighten($swatchText, 20%);
    margin-bottom: 0.25em;
  }
}


/* Item Lists */

#main.index {
  .navArea, div.category {
    margin-bottom: 2em;
  }
  h2 {
    border-bottom: 3px solid;
    padding-bottom: 0.25em;
    margin-bottom: 0.25em;
  }
  ul {
    padding: 0;
    margin-bottom: 3px;
    &.sortable {
      &::after {
        content: '';
        display: block;
        border-radius: 5px;
        border: 1px dashed darken($swatchBackground, 20%);
        height: 30px;
        margin-top: 4px;
      }
      li {
        cursor: grab;
      }
    }
  }
  li {
    margin-bottom: 2px;
    border-radius: 5px;
    padding: 4px;
    background: white;
    border: 1px solid darken($swatchBackground, 15%);
    ul {
      li {
        padding-right: 3px;
        margin-right: -4px;
        border-radius: 5px 0px 0px 5px;
        border-right: 1px solid transparent;
        &:hover {
          border-right: 1px solid transparent;
        }
      }
    }
    &:hover {
      border: 1px solid darken($swatchBackground, 25%);
      background: lighten($swatchBackground, 10%);
    }
    &.page > .details {
      padding-left: 20px;
      background-image: url('../img/icon-page.png');
    }
    &.account > .details {
      padding-left: 20px;
      background-image: url('../img/icon-account.png');
    }
    &.folder {
      background: darken($swatchBackground, 8%);
      padding-bottom: 1px;
      &:hover {
        background: darken($swatchBackground, 10%);
      }
      & > .details {
        margin-bottom: 3px;
        padding-left: 20px;
        background-image: url('../img/icon-folder.png');
      }
    }
    .details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-size: 16px;
      background-repeat: no-repeat;
      background-position: left center;
      span {
        flex-basis: 20%;
        flex-grow: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .title,
      .name {
        @extend %fontWeightBold;
        flex-basis: 50%;
        flex-grow: 2;
      }
      .date {
        @extend %fontWeightBold;
        font-size: 0.8em;
        text-align: right;
        margin-right: 4px;
        color: lighten($swatchText, 15%);
      }
      .slug {
        flex-basis: 50%;
        a[href$=".pdf" i]::before {
          @extend %slugIcon;
          content: 'pdf';
          background-color: red;
        }
        a[href$=".doc" i]::before,
        a[href$=".docx" i]::before {
          @extend %slugIcon;
          content: 'doc';
          background-color: blue;
        }
        a[href$=".xls" i]::before,
        a[href$=".xlsx" i]::before {
          @extend %slugIcon;
          content: 'xls';
          background-color: green;
        }
        a[href$=".zip" i]::before {
          @extend %slugIcon;
          content: 'zip';
          background-color: gray;
        }
      }
      .actions {
        display: flex;
        justify-content: flex-end;
        overflow: initial;
        flex-basis: auto;
        .button {
          font-size: 0.66em;
          padding: 4px;
          margin: 1px 0 1px 2px;
        }
      }
      .status {
        @extend %fontWeightBold;
      	display: inline-flex;
      	align-items: center;
      	justify-content: center;
      	text-align: center;
        flex-grow: 0;
        flex-basis: 80px;
        overflow: initial;
        font-size: 0.66em;
        line-height: 1;
        padding: 4px;
        margin: 1px 4px 1px 0;
        color: lighten($swatchText, 10%);
        background: $swatchBackground;
        border-radius: 3px;
        &.accept {
          background: lighten($swatchAccept, 15%);
          color: darken($swatchAccept, 10%);
        }
        &.pending {
          background: lighten($swatchPending, 15%);
          color: darken($swatchPending, 10%);
        }
        &.cancel {
          background: lighten($swatchCancel, 15%);
          color: darken($swatchCancel, 10%);
        }
      }
    }
  }
}

#main.index.longNames {
  li {
    .details {
      font-size: 0.875em;
      flex-wrap: wrap;
      background-position: left top;
      span {
      }
      .title,
      .name {
        line-height: 1;
        padding: 0.25em 0 0.5em;
        margin-bottom: 0.25em;
        border-bottom: 1px solid $swatchBackground;
        flex-basis: 100%;
        text-overflow: initial;
        white-space: initial;
      }
    }
  }
}

#main.index.submission, #main.index.leads { /* deprecating .leads */
  li {
    .details {
      span {
      }
      .name {
        flex-basis: 20%;
      }
    }
  }
}

#main.submission { 
  section {
    padding: 20px;
    background: white;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid darken($swatchBackground, 10%);
  }
  .row {
    display: flex;
    margin-bottom: 10px;
    p {
      span:not(:last-child)::after {
        content: ',';
      }
      span {
        font-weight: bold;
        margin-left: 10px;
      }
    }
    p:not(:last-child) {
      margin-right: 30px;
    }
    p.textarea {
      font-weight: bold;
    }
  }
}

#main.grid {    
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
    	padding: 5px;
      margin: 2px;
    	background: white;
      overflow: hidden;
    	border: 1px solid darken($swatchBackground, 10%);
    	border-radius: 5px;
    	flex-basis: calc(25% - 4px);
      max-width: calc(25% - 4px);
      @include tablet {
      	flex-basis: calc(50% - 4px);
        max-width: calc(50% - 4px);
      }
    	.details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    		line-height: 1;
        padding: 0;
    		.thumbnail {
    			display: flex;
    			align-items: center;
    			justify-content: center;
    			width: 100%;
    			height: 20vh;
    			border: 1px solid $swatchBackground;
    			background-image: linear-gradient(45deg, $swatchBackground 25%, transparent 25%), linear-gradient(-45deg, $swatchBackground 25%, transparent 25%), linear-gradient(45deg, transparent 75%, $swatchBackground 75%), linear-gradient(-45deg, transparent 75%, $swatchBackground 75%);
    			background-size: 20px 20px;
    			background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    			padding: 10px;
    			margin-bottom: 5px;
    			img {
    				max-width: 100%;
    				max-height: 100%;
    			}
    		}
    		.title {
    			@extend %fontWeightBold;
    			display: block;
        }
    		.filename {
          padding-bottom: 10px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 100%;
    		}
    		.actions {
    			width: 100%;
    			text-align: center;
          .button {
            font-size: 0.66em;
            padding: 4px;
            margin: 1px 0 1px 2px;
          }
    		}
    	}
    }
  }
}

/* Tabbed Content */

#main {
  #tab-control {
    display: flex;
    border-bottom:  1px solid darken($swatchBackground, 15%);
    margin-bottom: 1.5em;
    .item {
      @extend %fontWeightBold;
      display: block;
      flex-grow: 1;
      background: linear-gradient(to top, $swatchBackground, lighten($swatchBackground, 5%));
      color: lighten($swatchText, 15%);
      padding: 0.75em 2em;
      margin: 0 2px;
      border: 1px solid darken($swatchBackground, 15%);
      border-bottom: 0;
      border-radius: 6px 6px 0 0;
      text-align: center;
      line-height: 1;
      cursor: pointer;
      &:hover {
        
      }
      &.active {
        background: linear-gradient(to top, lighten($swatchBackground, 5%), white);
        color: $swatchText;
        margin-bottom: -1px;
      }
    }
  }
  .tab {
    display: none;
    &.active {
      display: block;
    }
  }
}

/* Filter Bar - for interacting with index content */

#main {
  .filterBar {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    padding: 3px;
    background: lighten($swatchText, 5%);
    color: $swatchBackground;
    border: 1px solid darken($swatchText, 10%);
    border-radius: 5px;
    input[type="text"] {
      margin: 0;
      flex-basis: 25%;
      padding: 0.5em;
      font-size: 0.75em;
    }
    fieldset {
      display: block;
      flex-grow: 1;
      margin-bottom: 0;
      &::after {
        display: block;
        content: '';
        width: 1px;
        background: darken($swatchText, 10%);
        margin: 0 8px 0 6px;
      }
      &:last-child::after {
        display: none;
      }
      input[type="radio"], input[type="checkbox"] {
        display: none;
      }
      label {
        @extend %fontWeightBold;
        color: white;
        line-height: 1;
        text-align: center;
        text-shadow: 0 1px 2px darken($swatchText, 10%);
        font-size: 0.75em;
        display: inline-block;
        background: $swatchText;
        border: 1px solid darken($swatchText, 10%);
        border-radius: 3px;
        margin-right: 2px;
        padding: 0.75em 0.5em;
        cursor: pointer;
        flex-grow: 1;
        &:hover {
          background: darken($swatchText, 10%);
        }
      }
      input[type="radio"]:checked + label {
        background: $swatchPending;
        text-shadow: 0 1px 2px darken($swatchPending, 10%);
        cursor: default;
      }
      input[type="checkbox"]:checked + label {
        background: $swatchAccept;
        border-color: darken($swatchAccept, 10%);
        text-shadow: 0 1px 2px darken($swatchAccept, 10%);
        &:hover {
          background: darken($swatchAccept, 10%);
        }
      }
    }
  }
}


/* Page Editor ----------- */

#main.editor {
  .section {
    display: flex;
    margin-bottom: 20px;
  }
  label,
  fieldset {
    display: flex;
    flex-direction: column;
    padding: 2px;
    flex-basis: 50%;
    flex-grow: 1;
  }
  fieldset {
    justify-content: flex-start;
    label {
      flex-grow: 0;
      flex-direction: row;
      align-items: center;
    }
  }
  textarea {
    min-height: 25vh;
    height: 100%;
  }
  input,
  textarea,
  select {
    border: 1px solid darken($swatchBackground, 10%);
    margin-bottom: 0;
  }
  .button {
    padding: 10px;
  }
  .scrollable {
    max-height: 33vh;
    background: white;
    border: 1px solid darken($swatchBackground, 10%);
    border-radius: 5px;
    padding: 10px;
    overflow-y: scroll;
  }
  .details {
    height: 100%;
    padding: 5px;
    background: white;
    display: flex;
    flex-direction: column;
    border: 1px solid darken($swatchBackground, 10%);
    border-radius: 5px;
      input {
        margin-bottom: 5px;
      }
      .thumbnail {
    	  display: flex;
        flex-grow: 1;
    	  align-items: center;
    	  justify-content: center;
    	  width: 100%;
    	  border: 1px solid $swatchBackground;
    	  background-image: linear-gradient(45deg, $swatchBackground 25%, transparent 25%), linear-gradient(-45deg, $swatchBackground 25%, transparent 25%), linear-gradient(45deg, transparent 75%, $swatchBackground 75%), linear-gradient(-45deg, transparent 75%, $swatchBackground 75%);
    	  background-size: 20px 20px;
    	  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    	  padding: 10px;
    	img {
    		max-width: 100%;
        max-height: 100%;
    	}
    }
  }
  .file {
  	background-image: url('/css/admin/img/icon-post.png');
  	background-repeat: no-repeat;
  	background-position: center left;
    a {
      padding-left: 40px;
      line-height: 30px;
  	}
  }
}

#main.media-editor {
	.preview {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: calc(100vh - 140px);
    border: 1px solid darken($swatchBackground, 10%);
    border-radius: 5px;
    background-color: white;
		background-image: linear-gradient(45deg, $swatchBackground 25%, transparent 25%), linear-gradient(-45deg, $swatchBackground 25%, transparent 25%), linear-gradient(45deg, transparent 75%, $swatchBackground 75%), linear-gradient(-45deg, transparent 75%, $swatchBackground 75%);
		background-size: 20px 20px;
		background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
		padding: 10px;
		margin-bottom: 5px;
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
}


/* Login Page ----------- */

#login-wrapper {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	.loginContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
    background: $swatchBackground;
    border: 1px solid darken($swatchBackground, 20%);
    border-radius: 6px;
		.logo {
			width: 50%;
			margin-bottom: 20px;
		}
		label {
			width: 100%;
			margin-bottom: 5px;
		}
	}
  .button {
    padding: 10px;
    margin-bottom: 0;
  }
}