html {
  box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
	font-size: 1em;
	font-weight: inherit;
	line-height: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

input,
textarea,
select,
button {
  font: inherit;
	line-height: inherit;
  letter-spacing: inherit;
	padding: 0;
	margin: 0;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

input,
textarea,
select {
	max-width: 100%;
}

select, button {
  appearance: none;
}

input,
textarea,
button {
  border: 1px solid gray;
}

textarea {
	max-width: 100%;
	resize: vertical;
}

button {
	width: 100%;
  border-radius: 0;
  background-color: transparent;
}

img,
svg,
iframe,
video,
object,
embed {
  display: block;
  max-width: 100%;
}

table {
  width: 100%;
  th {
    font-weight: inherit;
  }
}