@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@page {
  size: 8.5in 11in;
  orientation: portrait;
} 

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 8pt;
  font-weight: 400;
  line-height: 1;
  color: black;
  box-sizing: border-box;
  padding: 0.33in 1in;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

a {
  text-decoration: none;
  color: black;
}

hr {
  outline: none;
  border: none;
  margin: 0.125in 0;
  border-bottom: 1px dashed black;
}

section {
  padding: 0.125in 0;
  border-bottom: 1px solid black;
}

p span {
  font-weight: 700;
  margin-left: 0.125in;
}