/* ------ VSM - School Registration System ------ */

@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap');


/* -------------------------------------------------------------------- Colours */

$swatchLight: rgb(220,220,220);
$swatchDark: rgb(0,0,0);
$swatchPrimary: rgb(26,115,232);

$swatchRed: rgb(217,48,37);
$swatchGreen: rgb(120,184,129);
$swatchYellow: rgb(229,188,41);

/* --------------------------------------------------------------------- Mixins */

@mixin desktop {
	@media (min-width: 961px) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: 960px) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: 720px) {
		@content;
	}
}

@mixin landscape {
	@media (orientation: landscape) {
		@content;
	}
}

@mixin portrait {
	@media (orientation: portrait) {
		@content;
	}
}


/* ----------------------------------------------------------------- Extensions */

%fontWeightRegular {
  font-weight: 300;
}
%fontWeightBold {
  font-weight: 700;
}


/* --------------------------------------------------------------------- Global */


body {
  @extend %fontWeightRegular;
  font-family: 'Roboto', sans-serif;
  color: $swatchDark;
  font-size: 15px;
  line-height: 1.33;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.25s linear;
  &:hover {
    text-decoration: underline;
  }
}

strong {
  @extend %fontWeightBold;
}

em {
  font-style: italic;
}

.alert {
  display: block;
  background: $swatchRed;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  text-align: center;
  line-height: 1;
  font-size: 15px;
  margin: 10px 40px 0;
  @include mobile {
    margin: 10px 10px 0;
  }
  &.success {
    background: $swatchGreen;
  }
}


/* ------------------------------------------------------------- Layout */

#branding-bar {
  height: 120px;
  background: white;
  width: 100%;
  display: flex;
  align-items: center;
  @include mobile {
    height: 60px;
  }
  .logo {
    height: 80px;
    margin: 0 20px;
    @include mobile {
      height: 40px;
      margin: 0 10px;
    }
  }
}

#site-main {
  flex-grow: 1;
  width: 100%;
  max-width: 1280px;
  padding: 40px 20px;
  display: flex;
  @include tablet {
    flex-direction: column;
    padding: 0;
  }
  #content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: white;
    border-radius: 20px; 
    box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
    @include tablet {
      margin: 10px;
    }
    header {
      border-bottom: 1px solid lighten($swatchLight, 5%);
    }
    footer {
      border-top: 1px solid lighten($swatchLight, 5%);
      padding: 20px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include mobile {
        padding: 10px;
        flex-direction: column;
      }
      .button {
        margin: 2px;
        @include mobile {
          width: 100%;
          margin: 0 0 5px 0;
        }
      }
    }
    section {
      flex-grow: 1;
      padding: 40px;
      @include mobile {
        padding: 10px;
      }
      &:not(:last-of-type) {
        border-bottom: 1px solid lighten($swatchLight, 5%);
      }
    }
  }
}



/* ----------------------------------------------------- Main Navigation */

#nav-bar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  background: $swatchPrimary;
  border-top: 1px solid darken($swatchPrimary, 15%);
  border-bottom: 1px solid darken($swatchPrimary, 15%);
  line-height: 1;
  z-index: 100;
  @include tablet {
    height: auto;
  }
  nav {
    display: flex;
    height: 100%;
    .page-links, .action-links {
      display: flex;
    }
    .page-links {
      flex-grow: 1;
      @include tablet {
        flex-direction: column;
        &::after {
          content: '';
          display: block;
          position: absolute;
          height: 100%;
          width: 54px;
          background-color: darken($swatchPrimary, 8%);
          background-image: url('icons/menu.png');
          background-size: 24px 24px;
          background-position: center 14px;
          background-repeat: no-repeat;
          border-right: 1px solid darken($swatchPrimary, 15%);
          opacity: 0.25;
        }
      }
      a {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 10px;
        @include tablet {
          width: 100%;
          text-align: left;
          justify-content: flex-start;
          padding: 19px 10px 18px 60px;
        }
        &:hover {
          text-decoration: none;
          background: darken($swatchPrimary, 3%);
        }
        &.active {
          @extend %fontWeightBold;
          @include tablet {
            pointer-events: none;
          }
        }
        &:not(.active) {
          @include tablet {
            display: none;
          }
        }
      }
    }
    .page-links.open {
      a.active {
        pointer-events: auto;
      }
      a:not(.active) {
        @include tablet {
          display: block;
        }
      }
    }
    .action-links {
      a, span {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        background: darken($swatchPrimary, 8%);
        border-left: 1px solid darken($swatchPrimary, 15%);
        padding: 10px;
        cursor: pointer;
        transition: background 0.25s linear;
        &:hover {
          text-decoration: none;
          background: darken($swatchPrimary, 10%);
        }
        &::before {
          content: '';
          display: block;
          width: 24px;
          height: 24px;
          margin-right: 5px;
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat;
          opacity: 0.25;
          @include mobile {
            margin-right: 0;
          }
        }
        &.search::before {
          background-image: url('icons/search.png');
        }
        &.search::after {
          content: 'Search';
          @include mobile {
            content: '';
          }
        }
        &.dashboard::before {
          background-image: url('icons/dashboard.png');
        }
        &.dashboard::after {
          content: 'Dashboard';
          @include mobile {
            content: '';
          }
        }
        &.sign-out::before {
          background-image: url('icons/sign-out.png');
        }
        &.sign-out::after {
          content: 'Sign Out';
          @include mobile {
            content: '';
          }
        }
        &.sign-in::before {
          background-image: url('icons/sign-in.png');
        }
        &.sign-in::after {
          content: 'Sign In';
          @include mobile {
            content: '';
          }
        }
      }
    }
  }
  .nav-drop-toggle.open + .nav-drop-form {
    display: block;
  }
  .nav-drop-form {
    display: none;
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    background: darken($swatchPrimary, 15%);
    border-bottom: 1px solid darken($swatchPrimary, 25%);
    &.open {
      display: block;
    }
    form {
      width: 100%;
      display: flex;
      padding: 10px;
      align-items: center;
      flex-direction: row;
      @include mobile {
        flex-direction: column;
      }
      input {
        line-height: 1;
        font-size: 18px;
        padding: 10px 15px 6px 15px;
        margin-right: 5px;
        border: 1px solid darken($swatchPrimary, 25%);
        border-radius: 5px;
        flex-grow: 1;
        @include mobile {
          width: 100%;
          margin: 5px;
        }
        &:placeholder {
          color: $swatchLight;
        }
      }
      button {
        line-height: 1;
        appearance: none;
        font-size: 18px;
        padding: 10px 20px;
        background: darken($swatchPrimary, 20%);
        border: 1px solid darken($swatchPrimary, 25%);
        border-radius: 5px;
        width: auto;
        cursor: pointer;
        @include mobile {
          width: 100%;
          margin: 5px;
        }
        &:hover, &:active {
          background: darken($swatchPrimary, 25%);
          color: black;
        }
      }
    }
  }
}

#nav-bar.open {
  @include tablet {
    nav {
      flex-direction: column;
      .page-links {
        a.active {
          pointer-events: auto;
        }
        a:not(.active) {
          display: block;
        }
      }
      .action-links {
        width: 100%;
        flex-direction: column;
        a, span {
          justify-content: flex-start;
          padding: 1;
          padding: 16px 10px 16px 60px;
          border-top: 1px solid darken($swatchPrimary, 15%);
          &.search::after {
            content: 'Search';
          }
          &.dashboard::after {
            content: 'Dashboard';
          }
          &.sign-out::after {
            content: 'Sign Out';
          }
          &.sign-in::after {
            content: 'Sign In';
          }
        }
      }
    }
  }
}

/* --------------------------------------------------------- Sidebar Navigation */

#sidebar {
  position: sticky;
  align-self: flex-start;
  top: 60px;
  min-width: 240px;
  max-width: 240px;
  @include tablet {
    top: 49px;
    max-width: 100%;
    width: 100%;
    background: $swatchLight;
    min-height: 50px;
    border-bottom: 1px solid darken($swatchLight, 15%);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  nav {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 0;
    @include tablet {
      padding: 0;
      &::after {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 54px;
        background-color: darken($swatchLight, 12%);
        background-image: url('icons/chapter.png');
        background-size: 24px 24px;
        background-position: center 14px;
        background-repeat: no-repeat;
        border-right: 1px solid darken($swatchLight, 15%);
        opacity: 0.25;
      }
    }
    a {
      display: block;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 2px;
      @include tablet {
        padding: 15px 10px 15px 60px;
        margin-bottom: 0;
        border-radius: none;
      }
      &:hover {
        text-decoration: none;
        background-color: darken($swatchLight, 3%);
      }
      &.active {
        background-color: darken($swatchLight, 5%);
        box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
        @include tablet {
          pointer-events: none;
          box-shadow: none;
        }
        &:hover {
          background-color: darken($swatchLight, 8%);
        }
      }
      &.disabled {
        opacity: 0.5;
      }
      &:not(.active) {
        @include tablet {
          display: none;
        }
      }
    }
  }
}

@include tablet {
  #sidebar.open {
    nav {
      a:not(.active) {
        display: block;
      }
      a.active {
        pointer-events: auto;
      }
    }
  }
}


/* --------------------------------------------------------- UI Elements */

.button {
  @extend %fontWeightBold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 1;
  padding: 10px 30px;
  border: 1px solid darken($swatchLight, 15%);
  border-radius: 5px;
  background-color: $swatchLight;
  color: darken($swatchLight, 35%);
  text-align: center;
  cursor: pointer;
  width: auto;
  &:hover {
    background: darken($swatchLight, 10%);
    text-decoration: none;
  }
}
.button.primary {
  background-color: $swatchPrimary;
  color: darken($swatchPrimary, 35%);
  border-color: darken($swatchPrimary, 15%);
  &:hover {
    background: darken($swatchPrimary, 10%);
  }
}
.button.green {
  background-color: $swatchGreen;
  color: darken($swatchGreen, 35%);
  border-color: darken($swatchGreen, 15%);
  &:hover {
    background: darken($swatchGreen, 10%);
  }
}
.button.yellow {
  background-color: $swatchYellow;
  color: darken($swatchYellow, 35%);
  border-color: darken($swatchYellow, 15%);
  &:hover {
    background-color: darken($swatchYellow, 10%);
  }
}
.button.red {
  background-color: $swatchRed;
  color: darken($swatchRed, 35%);
  border-color: darken($swatchRed, 15%);
  &:hover {
    background-color: darken($swatchRed, 10%);
  }
}

.button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

%button-before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 4px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.25;
}

.button.canadian::before {
  background-image: url('icons/canadian.png');
  @extend %button-before;
}
.button.international::before {
  background-image: url('icons/international.png');
  @extend %button-before;
}
.button.save::before {
  background-image: url('icons/save.png');
  @extend %button-before;
}
.button.continue::before {
  background-image: url('icons/continue.png');
  @extend %button-before;
}
.button.back::before {
  background-image: url('icons/back.png');
  @extend %button-before;
}
.button.continue.disabled::before {
  background-image: url('icons/disabled.png');
  @extend %button-before;
}
.button.add::before {
  background-image: url('icons/add.png');
  @extend %button-before;
}
.button.remove::before {
  background-image: url('icons/trash.png');
  @extend %button-before;
}
.button.view::before {
  background-image: url('icons/view.png');
  @extend %button-before;
}
.button.print::before {
  background-image: url('icons/print.png');
  @extend %button-before;
}
.button.file::before {
  background-image: url('icons/file.png');
  @extend %button-before;
}



.button.paypal {
  display: flex;
  width: 100%;
  font-size: 2em;
  background: #0070ba;
  color: darken(#0070ba, 35%);
  border-color: darken(#0070ba, 15%);
  &:hover {
    background: darken(#0070ba, 10%);
  }
  &::before {
    background-image: url('icons/paypal.png');
    @extend %button-before;
  }
}

/* --------------------------------------------------------- Table Styles */

table {
  margin: 2em 0;
  border-collapse: collapse;
  border-spacing: 0;
  @include mobile {
    font-size: 12px;
    margin: 0.5em 0;
    table-layout: auto;
  }
  thead {
    th {
      @extend %fontWeightBold;
      color: darken($swatchLight, 10%);
      padding: 5px 20px;
      text-align: left;
      @include mobile {
        padding: 5px;
      }
    }
  }
  tbody {
    tr {
      th {
        background: lighten($swatchLight, 12%);
        padding: 10px 20px;
        text-align: left;
        vertical-align: middle;
        @include mobile {
          padding: 5px;
        }
      }
      td {
        background: lighten($swatchLight, 15%);
        padding: 10px 20px;
        vertical-align: middle;
        @include mobile {
          padding: 5px;
        }
        &.actions {
          width: 25%;
        }
      }
    }
    tr:nth-child(even) {
      th {
        background: lighten($swatchLight, 10%);
      }
      td {
        background: lighten($swatchLight, 13%);
      }
    }
    tr:first-child {
      th:first-child, td:first-child {
        border-top-left-radius: 8px;
      }
      td:last-child {
        border-top-right-radius: 8px;
      }
    }
    tr:last-child {
      th:first-child, td:first-child {
        border-bottom-left-radius: 8px;
      }
      td:last-child {
        border-bottom-right-radius: 8px;
      }
    }
  }
  input[type=file]::before {
    font-size: 0.75em;
    padding: 10px 2px;
  }
  .button {
    font-size: 0.75em;
    padding: 2px;
    width: 100%;
    margin: 2px;
    &::before {
      width: 24px !important;
      height: 24px !important;
    }  
  }
}



/* --------------------------------------------------------- Form Styles */

form {
  display: flex;
  flex-direction: column;
  height: 100%;
  fieldset {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    legend {
      @extend %fontWeightBold;
    }
    button {
      width: auto;
    }
    &:disabled {
      opacity: 0.33;
    }
    &.radio, &.checkbox {
      flex-grow: 0;
      &.stretch {
        flex-grow: 1;
        justify-content: space-between;
      }
      label {
        flex-direction: row;
        align-items: center;
        padding: 5px 20px 5px 0;
        flex-grow: 0;
        input {
          margin: 0 5px 0 0;
        }
        input[type="text"] {
          margin: 0;
        }
      }
    }
    &.radio-block {
      label {
        padding-left: 25px;
        position: relative;
        input {
          position: absolute;
          left: 0;
        }
      }
    }
  }
  label {
    display: flex;
    flex-direction: column;
    margin: 0 2px 8px;
    flex-grow: 1;
    input, textarea, select {
      font-size: 18px;
      padding: 10px;
      margin-top: 2px;
      border: 1px solid darken($swatchLight, 15%);
      border-radius: 5px;
      &:placeholder {
        color: $swatchLight;
      }
      &:disabled {
        opacity: 0.33;
      }
    }
    select {
      background: lighten($swatchLight, 12%);
    }
    textarea {
      min-height: 120px;
    }
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    @include mobile {
      flex-direction: column;
    }
    .column {
      flex-basis: 50%;
      padding: 0 20px 0 0;
      @include mobile {
        padding: 0;
      }
      &:nth-child(even) {
        padding: 0 0 0 20px;
        @include mobile {
          padding: 0;
        }
      }
    }
  }
}

input[type="file"] {
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  border: none;
  cursor: pointer;
  width: 100%;
  &::-webkit-file-upload-button {
    visibility: hidden;
  }
  &:hover {
    &::before {
      background-color: darken($swatchLight, 10%);
      text-decoration: none;
    }
  }
  &::before {
    @extend %fontWeightBold;
    content: 'select file';
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 1;
    padding: 10px 30px;
    width: 100%;
    border: 1px solid darken($swatchLight, 15%);
    border-radius: 5px;
    background-color: $swatchLight;
    color: darken($swatchLight, 35%);
    text-align: center;
    margin: 0;
  }
}

/* ---------------------------------------------------------- Typography */

#content {
  header {
    h1 {
      @extend %fontWeightBold;
      padding: 20px 40px;
      font-size: 50px;
      line-height: 1;
      @include mobile {
        font-size: 30px;
        padding: 10px;
      }
    }
    h2 {
      padding: 0 40px 10px;
      @include mobile {
        padding: 0 10px;
      }
    }
  }
  h2 {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 10px;
    @include mobile {
      font-size: 22px;
    }
  }
  h3 {
    font-size: 22px;
    line-height: 1;
    margin-bottom: 10px;
    @include mobile {
      font-size: 18px;
    }
  }
  h4 {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 10px;
    @include mobile {
      font-size: 16px;
    }
  }
  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }
  ul, ol {
    margin-left: 20px;
  }
  p, ul, ol {
    margin-bottom: 20px;
  }
  hr {
    outline: none;
    border: none;
    height: 1px;
    background: $swatchLight;
    margin: 20px auto;
    width: 100px;
  }
}

/* ------------------------------------------------------------ Login */

.sign-in-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  @include mobile {
    padding: 10px;
  }
  .box {
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 480px;
    header {
      padding: 20px 40px;
      border-bottom: 1px solid $swatchLight;
      text-align: center;
      @include mobile {
        padding: 20px;
      }
      img {
        display: inline; 
        width: 200px;
      }
    }
    form {
      padding: 20px 40px;
      @include mobile {
        padding: 20px;
      }
      h1 {
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
      }
      label {
        margin: 0 0 10px 0;
      }
      button {
        width: 100%;
      }
    }
    footer {
      padding: 20px 40px;
      border-top: 1px solid $swatchLight;
      display: flex;
      align-items: center;
      justify-content: center;
      @include mobile {
        padding: 20px;
      }
      .button {
        display: block;
        font-size: 0.875em;
        margin: 2px;
        padding: 10px;
        flex-grow: 1;
      }
    }
  }
}



/* ------------------------------------------------- Application Process Styles - DASHBOARD */

.application-type-selection {
  display: flex;
  @include mobile {
    flex-direction: column;
  }
  .button {
    flex-grow: 1;
    font-size: 25px;
    margin: 5px;
    @include mobile {
      margin: 0 0 5px 0;
    }
  }
}

#site-main {
  #content {
    form {
      h3 {
        margin: 20px 0 10px 0;
        padding-bottom: 10px;
        border-bottom: 1px dashed $swatchLight;
      }
      .remove {
        cursor: pointer;
        padding: 30px 10px 0;
        &::before {
          content: '';
          display: block;
          width: 24px;
          height: 24px;
          margin-right: 4px;
          background-image: url('icons/trash.png');
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat;
          opacity: 0.25;
        }
      }
    }
  }
}

#content.application-review {
  h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .button {
      font-size: 14px;
      padding: 10px;
    }
  }
  h3 {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dashed $swatchLight;
  }
  ul {
    font-weight: bold;
  }
  .row {
    display: flex;
    @include mobile {
      flex-direction: column;
    }
    p {
      margin-bottom: 10px;
      span:not(:last-child)::after {
        content: ',';
      }
      span {
        font-weight: bold;
        margin-left: 10px;
        border-bottom: 1px solid $swatchLight;
        @include mobile {
          display: block;
          width: 100%;
          margin-left: 0;
          &:not(:last-child) {
            border-bottom: none;
          }
        }
      }
    }
    p:not(:last-child) {
      margin-right: 30px;
    }
    p.textarea {
      font-weight: bold;
    }
  }
}

form .tab {
  display: none;
  flex-direction: column;
  height: 100%;
  &.visible {
    display: flex;
  }
}

section.statement-of-faith {
  font-size: 0.9em;
  label {
    flex-direction: row;
    input {
      margin-right: 10px;
    }
  }
}

table.payment-invoice {
  thead {
    tr {
      th:last-child {
        text-align: right;
      }
    }
  }
  tbody {
    tr {
      td:last-child {
        text-align: right;
      }
    }
  }
}

.payment-message {
  p {
    @extend %fontWeightBold;
    font-size: 1.25em;
    text-align: center;
    background: $swatchGreen;
    color: darken($swatchGreen, 25%);
    padding: 10px;
    border-radius: 5px;
  }
}

label#international-grade input {
  width: 25%;
  @include mobile {
    width: 100%;
  }
}

.button.new-application {
  display: flex;
}