/* ------ VSM - School Registration System ------ */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  font-size: 1em;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

input,
textarea,
select,
button {
  font: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  padding: 0;
  margin: 0; }

fieldset {
  border: none;
  padding: 0;
  margin: 0; }

input,
textarea,
select {
  max-width: 100%; }

select, button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

input,
textarea,
button {
  border: 1px solid gray; }

textarea {
  max-width: 100%;
  resize: vertical; }

button {
  width: 100%;
  border-radius: 0;
  background-color: transparent; }

img,
svg,
iframe,
video,
object,
embed {
  display: block;
  max-width: 100%; }

table {
  width: 100%; }
  table th {
    font-weight: inherit; }

/* -------------------------------------------------------------------- Colours */
/* --------------------------------------------------------------------- Mixins */
/* ----------------------------------------------------------------- Extensions */
body {
  font-weight: 300; }

strong, #nav-bar nav .page-links a.active, .button, table thead th, form fieldset legend, input[type="file"]::before, #content header h1, .payment-message p {
  font-weight: 700; }

/* --------------------------------------------------------------------- Global */
body {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 15px;
  line-height: 1.33;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear; }
  a:hover {
    text-decoration: underline; }

em {
  font-style: italic; }

.alert {
  display: block;
  background: #d93025;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  text-align: center;
  line-height: 1;
  font-size: 15px;
  margin: 10px 40px 0; }
  @media (max-width: 720px) {
    .alert {
      margin: 10px 10px 0; } }
  .alert.success {
    background: #78b881; }

/* ------------------------------------------------------------- Layout */
#branding-bar {
  height: 120px;
  background: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 720px) {
    #branding-bar {
      height: 60px; } }
  #branding-bar .logo {
    height: 80px;
    margin: 0 20px; }
    @media (max-width: 720px) {
      #branding-bar .logo {
        height: 40px;
        margin: 0 10px; } }

#site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  max-width: 1280px;
  padding: 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 960px) {
    #site-main {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0; } }
  #site-main #content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background: white;
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1); }
    @media (max-width: 960px) {
      #site-main #content {
        margin: 10px; } }
    #site-main #content header {
      border-bottom: 1px solid #e9e9e9; }
    #site-main #content footer {
      border-top: 1px solid #e9e9e9;
      padding: 20px 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 720px) {
        #site-main #content footer {
          padding: 10px;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      #site-main #content footer .button {
        margin: 2px; }
        @media (max-width: 720px) {
          #site-main #content footer .button {
            width: 100%;
            margin: 0 0 5px 0; } }
    #site-main #content section {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      padding: 40px; }
      @media (max-width: 720px) {
        #site-main #content section {
          padding: 10px; } }
      #site-main #content section:not(:last-of-type) {
        border-bottom: 1px solid #e9e9e9; }

/* ----------------------------------------------------- Main Navigation */
#nav-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  background: #1a73e8;
  border-top: 1px solid #1151a5;
  border-bottom: 1px solid #1151a5;
  line-height: 1;
  z-index: 100; }
  @media (max-width: 960px) {
    #nav-bar {
      height: auto; } }
  #nav-bar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%; }
    #nav-bar nav .page-links, #nav-bar nav .action-links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    #nav-bar nav .page-links {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
      @media (max-width: 960px) {
        #nav-bar nav .page-links {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
          #nav-bar nav .page-links::after {
            content: '';
            display: block;
            position: absolute;
            height: 100%;
            width: 54px;
            background-color: #1461c5;
            background-image: url("icons/menu.png");
            background-size: 24px 24px;
            background-position: center 14px;
            background-repeat: no-repeat;
            border-right: 1px solid #1151a5;
            opacity: 0.25; } }
      #nav-bar nav .page-links a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 10px; }
        @media (max-width: 960px) {
          #nav-bar nav .page-links a {
            width: 100%;
            text-align: left;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            padding: 19px 10px 18px 60px; } }
        #nav-bar nav .page-links a:hover {
          text-decoration: none;
          background: #166cdd; }
        @media (max-width: 960px) {
          #nav-bar nav .page-links a.active {
            pointer-events: none; } }
        @media (max-width: 960px) {
          #nav-bar nav .page-links a:not(.active) {
            display: none; } }
    #nav-bar nav .page-links.open a.active {
      pointer-events: auto; }
    @media (max-width: 960px) {
      #nav-bar nav .page-links.open a:not(.active) {
        display: block; } }
    #nav-bar nav .action-links a, #nav-bar nav .action-links span {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background: #1461c5;
      border-left: 1px solid #1151a5;
      padding: 10px;
      cursor: pointer;
      -webkit-transition: background 0.25s linear;
      transition: background 0.25s linear; }
      #nav-bar nav .action-links a:hover, #nav-bar nav .action-links span:hover {
        text-decoration: none;
        background: #135cbc; }
      #nav-bar nav .action-links a::before, #nav-bar nav .action-links span::before {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        margin-right: 5px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0.25; }
        @media (max-width: 720px) {
          #nav-bar nav .action-links a::before, #nav-bar nav .action-links span::before {
            margin-right: 0; } }
      #nav-bar nav .action-links a.search::before, #nav-bar nav .action-links span.search::before {
        background-image: url("icons/search.png"); }
      #nav-bar nav .action-links a.search::after, #nav-bar nav .action-links span.search::after {
        content: 'Search'; }
        @media (max-width: 720px) {
          #nav-bar nav .action-links a.search::after, #nav-bar nav .action-links span.search::after {
            content: ''; } }
      #nav-bar nav .action-links a.dashboard::before, #nav-bar nav .action-links span.dashboard::before {
        background-image: url("icons/dashboard.png"); }
      #nav-bar nav .action-links a.dashboard::after, #nav-bar nav .action-links span.dashboard::after {
        content: 'Dashboard'; }
        @media (max-width: 720px) {
          #nav-bar nav .action-links a.dashboard::after, #nav-bar nav .action-links span.dashboard::after {
            content: ''; } }
      #nav-bar nav .action-links a.sign-out::before, #nav-bar nav .action-links span.sign-out::before {
        background-image: url("icons/sign-out.png"); }
      #nav-bar nav .action-links a.sign-out::after, #nav-bar nav .action-links span.sign-out::after {
        content: 'Sign Out'; }
        @media (max-width: 720px) {
          #nav-bar nav .action-links a.sign-out::after, #nav-bar nav .action-links span.sign-out::after {
            content: ''; } }
      #nav-bar nav .action-links a.sign-in::before, #nav-bar nav .action-links span.sign-in::before {
        background-image: url("icons/sign-in.png"); }
      #nav-bar nav .action-links a.sign-in::after, #nav-bar nav .action-links span.sign-in::after {
        content: 'Sign In'; }
        @media (max-width: 720px) {
          #nav-bar nav .action-links a.sign-in::after, #nav-bar nav .action-links span.sign-in::after {
            content: ''; } }
  #nav-bar .nav-drop-toggle.open + .nav-drop-form {
    display: block; }
  #nav-bar .nav-drop-form {
    display: none;
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    background: #1151a5;
    border-bottom: 1px solid #0c3a77; }
    #nav-bar .nav-drop-form.open {
      display: block; }
    #nav-bar .nav-drop-form form {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 10px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
      @media (max-width: 720px) {
        #nav-bar .nav-drop-form form {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      #nav-bar .nav-drop-form form input {
        line-height: 1;
        font-size: 18px;
        padding: 10px 15px 6px 15px;
        margin-right: 5px;
        border: 1px solid #0c3a77;
        border-radius: 5px;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }
        @media (max-width: 720px) {
          #nav-bar .nav-drop-form form input {
            width: 100%;
            margin: 5px; } }
        #nav-bar .nav-drop-form form input:placeholder {
          color: gainsboro; }
      #nav-bar .nav-drop-form form button {
        line-height: 1;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        font-size: 18px;
        padding: 10px 20px;
        background: #0e458e;
        border: 1px solid #0c3a77;
        border-radius: 5px;
        width: auto;
        cursor: pointer; }
        @media (max-width: 720px) {
          #nav-bar .nav-drop-form form button {
            width: 100%;
            margin: 5px; } }
        #nav-bar .nav-drop-form form button:hover, #nav-bar .nav-drop-form form button:active {
          background: #0c3a77;
          color: black; }

@media (max-width: 960px) {
  #nav-bar.open nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    #nav-bar.open nav .page-links a.active {
      pointer-events: auto; }
    #nav-bar.open nav .page-links a:not(.active) {
      display: block; }
    #nav-bar.open nav .action-links {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      #nav-bar.open nav .action-links a, #nav-bar.open nav .action-links span {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        padding: 1;
        padding: 16px 10px 16px 60px;
        border-top: 1px solid #1151a5; }
        #nav-bar.open nav .action-links a.search::after, #nav-bar.open nav .action-links span.search::after {
          content: 'Search'; }
        #nav-bar.open nav .action-links a.dashboard::after, #nav-bar.open nav .action-links span.dashboard::after {
          content: 'Dashboard'; }
        #nav-bar.open nav .action-links a.sign-out::after, #nav-bar.open nav .action-links span.sign-out::after {
          content: 'Sign Out'; }
        #nav-bar.open nav .action-links a.sign-in::after, #nav-bar.open nav .action-links span.sign-in::after {
          content: 'Sign In'; } }

/* --------------------------------------------------------- Sidebar Navigation */
#sidebar {
  position: -webkit-sticky;
  position: sticky;
  -ms-flex-item-align: start;
      align-self: flex-start;
  top: 60px;
  min-width: 240px;
  max-width: 240px; }
  @media (max-width: 960px) {
    #sidebar {
      top: 49px;
      max-width: 100%;
      width: 100%;
      background: gainsboro;
      min-height: 50px;
      border-bottom: 1px solid #b6b6b6;
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); } }
  #sidebar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 20px 20px 0; }
    @media (max-width: 960px) {
      #sidebar nav {
        padding: 0; }
        #sidebar nav::after {
          content: '';
          display: block;
          position: absolute;
          height: 100%;
          width: 54px;
          background-color: #bdbdbd;
          background-image: url("icons/chapter.png");
          background-size: 24px 24px;
          background-position: center 14px;
          background-repeat: no-repeat;
          border-right: 1px solid #b6b6b6;
          opacity: 0.25; } }
    #sidebar nav a {
      display: block;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 2px; }
      @media (max-width: 960px) {
        #sidebar nav a {
          padding: 15px 10px 15px 60px;
          margin-bottom: 0;
          border-radius: none; } }
      #sidebar nav a:hover {
        text-decoration: none;
        background-color: #d4d4d4; }
      #sidebar nav a.active {
        background-color: #cfcfcf;
        -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
                box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); }
        @media (max-width: 960px) {
          #sidebar nav a.active {
            pointer-events: none;
            -webkit-box-shadow: none;
                    box-shadow: none; } }
        #sidebar nav a.active:hover {
          background-color: #c8c8c8; }
      #sidebar nav a.disabled {
        opacity: 0.5; }
      @media (max-width: 960px) {
        #sidebar nav a:not(.active) {
          display: none; } }

@media (max-width: 960px) {
  #sidebar.open nav a:not(.active) {
    display: block; }
  #sidebar.open nav a.active {
    pointer-events: auto; } }
/* --------------------------------------------------------- UI Elements */
.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  line-height: 1;
  padding: 10px 30px;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  background-color: gainsboro;
  color: #838383;
  text-align: center;
  cursor: pointer;
  width: auto; }
  .button:hover {
    background: #c3c3c3;
    text-decoration: none; }

.button.primary {
  background-color: #1a73e8;
  color: #072348;
  border-color: #1151a5; }
  .button.primary:hover {
    background: #135cbc; }

.button.green {
  background-color: #78b881;
  color: #2b5231;
  border-color: #4e9558; }
  .button.green:hover {
    background: #57a662; }

.button.yellow {
  background-color: #e5bc29;
  color: #52420a;
  border-color: #ad8b15; }
  .button.yellow:hover {
    background-color: #c39e18; }

.button.red {
  background-color: #d93025;
  color: #410e0b;
  border-color: #98221a; }
  .button.red:hover {
    background-color: #ad261e; }

.button.disabled {
  opacity: 0.5;
  cursor: not-allowed; }

.button.canadian::before, .button.international::before, .button.save::before, .button.continue::before, .button.back::before, .button.continue.disabled::before, .button.add::before, .button.remove::before, .button.view::before, .button.print::before, .button.file::before, .button.paypal::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 4px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.25; }

.button.canadian::before {
  background-image: url("icons/canadian.png"); }

.button.international::before {
  background-image: url("icons/international.png"); }

.button.save::before {
  background-image: url("icons/save.png"); }

.button.continue::before {
  background-image: url("icons/continue.png"); }

.button.back::before {
  background-image: url("icons/back.png"); }

.button.continue.disabled::before {
  background-image: url("icons/disabled.png"); }

.button.add::before {
  background-image: url("icons/add.png"); }

.button.remove::before {
  background-image: url("icons/trash.png"); }

.button.view::before {
  background-image: url("icons/view.png"); }

.button.print::before {
  background-image: url("icons/print.png"); }

.button.file::before {
  background-image: url("icons/file.png"); }

.button.paypal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 2em;
  background: #0070ba;
  color: #000508;
  border-color: #00426e; }
  .button.paypal:hover {
    background: #005187; }
  .button.paypal::before {
    background-image: url("icons/paypal.png"); }

/* --------------------------------------------------------- Table Styles */
table {
  margin: 2em 0;
  border-collapse: collapse;
  border-spacing: 0; }
  @media (max-width: 720px) {
    table {
      font-size: 12px;
      margin: 0.5em 0;
      table-layout: auto; } }
  table thead th {
    color: #c3c3c3;
    padding: 5px 20px;
    text-align: left; }
    @media (max-width: 720px) {
      table thead th {
        padding: 5px; } }
  table tbody tr th {
    background: #fbfbfb;
    padding: 10px 20px;
    text-align: left;
    vertical-align: middle; }
    @media (max-width: 720px) {
      table tbody tr th {
        padding: 5px; } }
  table tbody tr td {
    background: white;
    padding: 10px 20px;
    vertical-align: middle; }
    @media (max-width: 720px) {
      table tbody tr td {
        padding: 5px; } }
    table tbody tr td.actions {
      width: 25%; }
  table tbody tr:nth-child(even) th {
    background: #f6f6f6; }
  table tbody tr:nth-child(even) td {
    background: #fdfdfd; }
  table tbody tr:first-child th:first-child, table tbody tr:first-child td:first-child {
    border-top-left-radius: 8px; }
  table tbody tr:first-child td:last-child {
    border-top-right-radius: 8px; }
  table tbody tr:last-child th:first-child, table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px; }
  table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px; }
  table input[type=file]::before {
    font-size: 0.75em;
    padding: 10px 2px; }
  table .button {
    font-size: 0.75em;
    padding: 2px;
    width: 100%;
    margin: 2px; }
    table .button::before {
      width: 24px !important;
      height: 24px !important; }

/* --------------------------------------------------------- Form Styles */
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }
  form fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    form fieldset button {
      width: auto; }
    form fieldset:disabled {
      opacity: 0.33; }
    form fieldset.radio, form fieldset.checkbox {
      -webkit-box-flex: 0;
          -ms-flex-positive: 0;
              flex-grow: 0; }
      form fieldset.radio.stretch, form fieldset.checkbox.stretch {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
      form fieldset.radio label, form fieldset.checkbox label {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 5px 20px 5px 0;
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0; }
        form fieldset.radio label input, form fieldset.checkbox label input {
          margin: 0 5px 0 0; }
        form fieldset.radio label input[type="text"], form fieldset.checkbox label input[type="text"] {
          margin: 0; }
    form fieldset.radio-block label {
      padding-left: 25px;
      position: relative; }
      form fieldset.radio-block label input {
        position: absolute;
        left: 0; }
  form label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 2px 8px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    form label input, form label textarea, form label select {
      font-size: 18px;
      padding: 10px;
      margin-top: 2px;
      border: 1px solid #b6b6b6;
      border-radius: 5px; }
      form label input:placeholder, form label textarea:placeholder, form label select:placeholder {
        color: gainsboro; }
      form label input:disabled, form label textarea:disabled, form label select:disabled {
        opacity: 0.33; }
    form label select {
      background: #fbfbfb; }
    form label textarea {
      min-height: 120px; }
  form .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 0; }
    @media (max-width: 720px) {
      form .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    form .row .column {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
      padding: 0 20px 0 0; }
      @media (max-width: 720px) {
        form .row .column {
          padding: 0; } }
      form .row .column:nth-child(even) {
        padding: 0 0 0 20px; }
        @media (max-width: 720px) {
          form .row .column:nth-child(even) {
            padding: 0; } }

input[type="file"] {
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  border: none;
  cursor: pointer;
  width: 100%; }
  input[type="file"]::-webkit-file-upload-button {
    visibility: hidden; }
  input[type="file"]:hover::before {
    background-color: #c3c3c3;
    text-decoration: none; }
  input[type="file"]::before {
    content: 'select file';
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 18px;
    line-height: 1;
    padding: 10px 30px;
    width: 100%;
    border: 1px solid #b6b6b6;
    border-radius: 5px;
    background-color: gainsboro;
    color: #838383;
    text-align: center;
    margin: 0; }

/* ---------------------------------------------------------- Typography */
#content header h1 {
  padding: 20px 40px;
  font-size: 50px;
  line-height: 1; }
  @media (max-width: 720px) {
    #content header h1 {
      font-size: 30px;
      padding: 10px; } }
#content header h2 {
  padding: 0 40px 10px; }
  @media (max-width: 720px) {
    #content header h2 {
      padding: 0 10px; } }
#content h2 {
  font-size: 30px;
  line-height: 1;
  margin-bottom: 10px; }
  @media (max-width: 720px) {
    #content h2 {
      font-size: 22px; } }
#content h3 {
  font-size: 22px;
  line-height: 1;
  margin-bottom: 10px; }
  @media (max-width: 720px) {
    #content h3 {
      font-size: 18px; } }
#content h4 {
  font-size: 18px;
  line-height: 1;
  margin-bottom: 10px; }
  @media (max-width: 720px) {
    #content h4 {
      font-size: 16px; } }
#content ul {
  list-style: disc; }
#content ol {
  list-style: decimal; }
#content ul, #content ol {
  margin-left: 20px; }
#content p, #content ul, #content ol {
  margin-bottom: 20px; }
#content hr {
  outline: none;
  border: none;
  height: 1px;
  background: gainsboro;
  margin: 20px auto;
  width: 100px; }

/* ------------------------------------------------------------ Login */
.sign-in-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px; }
  @media (max-width: 720px) {
    .sign-in-page {
      padding: 10px; } }
  .sign-in-page .box {
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 480px; }
    .sign-in-page .box header {
      padding: 20px 40px;
      border-bottom: 1px solid gainsboro;
      text-align: center; }
      @media (max-width: 720px) {
        .sign-in-page .box header {
          padding: 20px; } }
      .sign-in-page .box header img {
        display: inline;
        width: 200px; }
    .sign-in-page .box form {
      padding: 20px 40px; }
      @media (max-width: 720px) {
        .sign-in-page .box form {
          padding: 20px; } }
      .sign-in-page .box form h1 {
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px; }
      .sign-in-page .box form label {
        margin: 0 0 10px 0; }
      .sign-in-page .box form button {
        width: 100%; }
    .sign-in-page .box footer {
      padding: 20px 40px;
      border-top: 1px solid gainsboro;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      @media (max-width: 720px) {
        .sign-in-page .box footer {
          padding: 20px; } }
      .sign-in-page .box footer .button {
        display: block;
        font-size: 0.875em;
        margin: 2px;
        padding: 10px;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }

/* ------------------------------------------------- Application Process Styles - DASHBOARD */
.application-type-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 720px) {
    .application-type-selection {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .application-type-selection .button {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 25px;
    margin: 5px; }
    @media (max-width: 720px) {
      .application-type-selection .button {
        margin: 0 0 5px 0; } }

#site-main #content form h3 {
  margin: 20px 0 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px dashed gainsboro; }
#site-main #content form .remove {
  cursor: pointer;
  padding: 30px 10px 0; }
  #site-main #content form .remove::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 4px;
    background-image: url("icons/trash.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.25; }

#content.application-review h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  #content.application-review h2 .button {
    font-size: 14px;
    padding: 10px; }
#content.application-review h3 {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px dashed gainsboro; }
#content.application-review ul {
  font-weight: bold; }
#content.application-review .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 720px) {
    #content.application-review .row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  #content.application-review .row p {
    margin-bottom: 10px; }
    #content.application-review .row p span:not(:last-child)::after {
      content: ','; }
    #content.application-review .row p span {
      font-weight: bold;
      margin-left: 10px;
      border-bottom: 1px solid gainsboro; }
      @media (max-width: 720px) {
        #content.application-review .row p span {
          display: block;
          width: 100%;
          margin-left: 0; }
          #content.application-review .row p span:not(:last-child) {
            border-bottom: none; } }
  #content.application-review .row p:not(:last-child) {
    margin-right: 30px; }
  #content.application-review .row p.textarea {
    font-weight: bold; }

form .tab {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }
  form .tab.visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

section.statement-of-faith {
  font-size: 0.9em; }
  section.statement-of-faith label {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    section.statement-of-faith label input {
      margin-right: 10px; }

table.payment-invoice thead tr th:last-child {
  text-align: right; }
table.payment-invoice tbody tr td:last-child {
  text-align: right; }

.payment-message p {
  font-size: 1.25em;
  text-align: center;
  background: #78b881;
  color: #3d7445;
  padding: 10px;
  border-radius: 5px; }

label#international-grade input {
  width: 25%; }
  @media (max-width: 720px) {
    label#international-grade input {
      width: 100%; } }

.button.new-application {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/*# sourceMappingURL=style.css.map */